{% extends 'base.html.twig' %}

{% block content %}

    <div id="orderForm">
        <span id="orderTitle" style="text-align: center;">Informacja</span><br>
        <span style="text-align: center;">{{ message }}</span>
    </div>

{% endblock %}