{% extends 'base.html.twig' %}

{% block content %}		

    <div class="PageDetail">
        <h1 style="text-align: center;">OGÓLNE WARUNKI WYNAJMU SAMOCHODU W FIRMIE Rent a Car</h1>
        <ol>
            <li>Najemca samochodu musi posiadać ważne prawo jazdy od co najmniej jednego roku oraz ważny inny dokument potwierdzający tożsamość (np. dowód osobisty lub paszport).</uli>
            <li>Najemca zobowiązany jest dostarczyć kopie dowodu tożsamości oraz prawo jazdy w dniu podpisania umowy najmu lub wcześniej wysłać drogą elektroniczną.</li>
            <li>Wypożyczonym samochodem może kierować tylko osoba, która zawarła umowę.</li>
            <li>Warunkiem wypożyczenia samochodu jest wpłacenie kaucji, która zwracana jest najemcy przy zwrocie samochodu oraz zapłata z góry gotówką (w walucie polskiej, obcej lub przelewen na konto) za deklarowany okres najmu.</li>
            <li>Doba wynajmu samochodu trwa 24 godziny od chwili rozpoczęcia najmu.</li>
            <li>W przypadku niedostarczenia samochodu do 60 minut od  uzgodnionej godziny Najemca będzie obciążony kosztami najmu o następny dzień. W razie niepowiadomienia  o takim wydarzeniu pojazd może być zgłoszony policji jako skradziony.</li>
            <li>Chęć przedłużenia wynajmu powinna zostać zgłoszona do  minimum 24 godziny przed upływem terminu zwrotu.</li>
            <li>Koszty najmu naliczane są według cennika. Stawki najmu nie obejmują kosztów paliwa (samochód jest przekazywany z pełnym bakiem w związku z czym  Najemca zobowiązany jest do zwrotu pojazdu również z pełnym bakiem).</li>
        </ol>
    </div>
                
{% endblock %}