{% extends 'base.html.twig' %}

{% block content %}		

    <div class="mainPageInformation">
        
    <h1>Wypożyczalnia Samochodów Rent a Car</h1>
Wypożyczalnia samochodów Odkryj-Auto działa na terenie Krakowa, Katowic, Rzeszowa, Wrocławia, Lublina i Zakopanego. Podstawiamy również samochody na lotniska i w inne miejsca ustalone przez klienta. Oferujemy krótko i długoterminowy wynajem samochodów.

Odkryj-Auto oferuje samochodu w najniższych cenach na rynku! W naszej ofercie znajdziesz auta od 55 zł netto za dzień.Dajemy naszym klientom możliwość wyboru samochodów różnej wielkości od małych dwu osobowych aut po Vany i samochody dostawcze.     
    </div> 
    
    <div class="mainPageInformation">
        <h1>SPECJALNIE DLA CIEBIE BOGATA FLOTA NOWYCH AUT</h1>
        <img src="{{ asset('bundles/framework/images/w1.jpg') }}" style="width: 30%; height: 30%;"><br>
        Nasza wypożyczalnia samochodów oferuje wynajem długoterminowy, który staje się idealnym rozwiązaniem dla firm lub instytucji. Pomagamy wybrać odpowiednie auto oraz czas wynajmu, idealnie dopasowany do potrzeb Państwa przedsiębiorstwa. Dzięki temu istnieje możliwość o wiele łatwiejszego planowania budżetu oraz zarządzania wydatkami. Zachęcamy do zapoznania się z ofertą i sprawdzenia co gwarantuje, kompleksowy wynajem samochodów 
    </div>
 
{% endblock %}