{% extends 'base.html.twig' %}

{% block content %}		

                <div id="blockSearch">
					
					<div id="blockSearchTitle"><b>Zarezerwuj samochód</b>
					</div>
				
                </div>
			
				<div id="blockInformation">
                </div>
                
				<div id="blockMap">              
                </div>
                
{% endblock %}