{% extends 'base.html.twig' %}

{% block content %}	

<div id="loginForm">
    <span id="loginTitle">Logowanie</span><br>
{% if error %}
    <div style="color:red;">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}	

          <form action="{{ path('login') }}" method="post">
                <label for="login">
                    Login:
                </label><br>                       
                <input type="text" id="login" name="_username" placeholder="Podaj login" value="{{ last_username }}">
                 <br>       
                <label for="haslo">
                    Hasło:
                </label><br>
                <input type="password" id="haslo" name="_password" placeholder="Podaj hasło"><br><br>
                <input type="submit" value="Zaloguj się">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          </form>
</div>
{% endblock %}